
html, body { margin: 0; padding: 0; border: 0; height: 100%;}



#masterFrame{
    margin:0;
    min-height: 100%;
}

#frameTop{
    height: 35px; /*Height of top frame div*/
    margin: 0;
    overflow: hidden; /*Disable scrollbars*/
    background-color: black;
    color: white; /*Text color*/
         }

    #categoryBar{

        float:left;
        margin:0;
        margin-top: 4px;
        font-size: 150%;
                }

    #userBar{
        float:right;
        font-size: 150%;
    }

    .btnCategoryBar{
        background-color: #000000;
        color: #ffffff;
        border: none;

    }

    .btnCategoryBarLi{
        padding:0;
        margin:0;
        list-style-type: none;
        display: inline;
    }

#frameLeft{
    top:35px;  /*Set top value to HeightOfTopFrameDiv*/
    width: 160px; /*Width of left frame div*/

    position: fixed;
    bottom: 0;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background-color: whitesmoke;
    color: black;
    border-right-width: medium;
    border-right-style: groove ;
    box-sizing: border-box;
            }


    #branding{

             }

    #contextNavigation{

                      }



#frameMain{
    left: 160px; /*Set left value to WidthOfLeftFrameDiv*/
    top: 35px; /*Set top value to HeightOfTopFrameDiv*/
    overflow: auto;
    background: #fff;
    position: fixed;
    bottom: 0;
    right:0;

    padding: 10px;
}






