<!DOCTYPE html>
<html lang="en">
<head>
    {% include "baseMeta.html" %}
    <title>{% block title %} Beesleys ERP {% endblock %}</title>
    {% include "cssSheets.html" %}
</head>

<body>

    <div id = "masterFrame">

        <div id="frameTop">
            <div id="categoryBar">
                {% include "categoryBar.html" %}
            </div>

            <div id="userBar">
                {% include "userBar.html" %}
            </div>
        </div>

        <div id="frameLeft">
            <div id="branding">
               {% include "branding.html" %}
            </div>

            <div id="contextNavigation">
                {% block contextNav %} Error - No navigation context provided {% endblock %}
            </div>
        </div>

        <div id="frameMain">
            {% block content %} {% endblock %}



        </div>

    </div>
    {% include "bootstrapJS.html" %}
</body>

</html>