<ul class="btnCategoryBarLi">
    <li class="btnCategoryBarLi"><button type="button" class="btnCategoryBar" onclick="window.open('/py/products','_self')"><span class="glyphicon glyphicon-shopping-cart"></span> Sales</button></li>
    <li class="btnCategoryBarLi"><button type="button" class="btnCategoryBar" onclick="window.open('/py/products','_self')"><span class="glyphicon glyphicon-road"></span> Shipping</button></li>
    <li class="btnCategoryBarLi"><button type="button" class="btnCategoryBar" onclick="window.open('/py/products','_self')"><span class="glyphicon glyphicon-tags"></span> Products</button></li>
    <li class="btnCategoryBarLi"><button type="button" class="btnCategoryBar" onclick="window.open('/py/products','_self')"><span class="glyphicon glyphicon-gbp"></span> Accounts</button></li>
    <li class="btnCategoryBarLi"><button type="button" class="btnCategoryBar" onclick="window.open('/py/products','_self')"><span class="glyphicon glyphicon-briefcase"></span> Purchasing</button></li>
    <li class="btnCategoryBarLi"><button type="button" class="btnCategoryBar" onclick="window.open('/py/contacts','_self')"><span class="glyphicon glyphicon-user"></span> Contacts</button></li>
</ul>